<button type="button" class="scroll-top-btn"><i class="fa-solid fa-chevron-up"></i></button>

<script src="https://kit.fontawesome.com/8f29d78dc3.js" crossorigin="anonymous"></script>
<script src="/scripts/script.js"></script>

</body>
</html>