<%- include('partials/header') %>

<main id="hero">
  <div class="two-col container">
    <div class="col-left">
      <div id="hero-content-con">
        <p class="h3">Reed's</p>
        <h1>Booknotes</h1>
        <p id="hero-description">
          A collection of all the notes from books I read. Have fun reading the notes of
          some books you might fancy. I will constantly update this site as I read more.
        </p>
      </div>

      <div class="btn-con">
        <a class="btn" href="/books">See All Books</a>
      </div>

      <div class="socials">
        <a href="https://twitter.com/ReedTorralba" target="_blank"
          ><i class="fa-brands fa-square-x-twitter"></i
        ></a>
        <a href="https://www.instagram.com/reedtorz/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.linkedin.com/in/arfeloreed/" target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a href="https://github.com/arfeloreed" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
      </div>
    </div>

    <div class="col-right">
      <img id="hero-img" src="/images/hero.webp" alt="note taking book image" />
    </div>
  </div>
</main>

<%- include('partials/footer') %>
