<%- include('partials/header') %>

<main class="auth-main">
  <p class="h2">Login</p>

  <form action="/admin/login" method="post" id="login-form">
    <div class="input-box">
      <input type="text" name="username" id="username" required autocomplete="off" autofocus>
      <label for="username">Username:</label>
    </div>

    <div class="input-box">
      <input type="password" name="password" id="password" required>
      <label for="password">Password:</label>
    </div>

    <div class="submit-box">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <input type="submit" value="Login">
    </div>
  </form>
</main>

<%- include('partials/footer') %>